---
import { cn } from "@/lib/utils";

interface Props {
    class?: string;
    containerClassName?: string;
    animate?: boolean;
}

const { class: className, containerClassName, animate = true } = Astro.props;
---

<div
    class={cn(
        "relative h-full w-full overflow-hidden rounded-[22px] bg-background p-[4px] transition-all group",
        containerClassName,
    )}
>
    <div
        class={cn(
            "absolute inset-0 rounded-[22px] z-[1] opacity-60 group-hover:opacity-100 blur-xl transition duration-500 will-change-transform",
            "bg-[radial-gradient(circle_farthest-side_at_0_100%,#00ccb1,transparent),radial-gradient(circle_farthest-side_at_100%_0,#7b61ff,transparent),radial-gradient(circle_farthest-side_at_100%_100%,#ffc414,transparent),radial-gradient(circle_farthest-side_at_0_0,#1ca0fb,#141316)]",
            animate && "animate-text",
        )}
    >
    </div>
    <div
        class={cn(
            "relative z-10 h-full w-full rounded-[20px] bg-surface",
            className,
        )}
    >
        <slot />
    </div>
</div>

<style>
    @keyframes text {
        0%,
        100% {
            background-size: 200% 200%;
            background-position: left center;
        }
        50% {
            background-size: 200% 200%;
            background-position: right center;
        }
    }

    .animate-text {
        animation: text 5s ease infinite;
    }
</style>
